* {
	margin: 0;
	padding: 0;
	
}
body {
	font-family: Arial,sans-serif;
	font-size: 14px;
	color: #333;
}
a {
	color: #333;
	text-decoration: none;
}
ul, li {
	list-style: none;
}
button,
img,
button:active,
button:focus {
	border: none;
	outline: none;
}
.clearfix:before,
.clearfix:after {
	display: table;
    content: " ";
}
.clearfix:after {
	clear: both;
}
.blue-text {
	color: #0dafd9;
}
.white-text {
	color: #fff;
}
.heavy-gray-text {
	color: #8a8a8a;
}
.green-text {
	color: #54b947;
}
.fs-36 {
	font-size: 36px !important;
}
.fs-48 {
	font-size: 48px !important;
}

.wrap {
	width: 1200px;
	margin: 0 auto;
}
.navbar {
	height: 60px;
	background: #000;
	width: 100%;
}
.navbar ul li {
	width: 200px;
	text-align: center;
	float: left;
	height: 60px;
	line-height: 60px;
}
.navbar ul li a {
	color: #fff;
	font-size: 18px;
	padding-bottom: 5px;
}
.navbar ul li a.active {
	color: #4da0da;
	border-bottom: 2px solid #4da0da;
}
.navbar ul li a:hover {
	border-bottom: 2px solid #4da0da;
}

.logo-box {
	width: 100%;
	background: url(../images/logobg.jpg) center;
	height: 1215px;
}
.logo {
	width: 427px;
	margin: 0 auto;
	margin-top: 260px;
}
.logo-text {
	color: #fff;
	font-size: 48px;
	text-align: center;
	margin-top: 155px;
}
.block-blue-btn {
	display: block;
	width: 465px;
	height: 57px;
	background: #0dafd9;
	color: #fff;
	margin: 0 auto;
	font-size: 24px;
	line-height: 57px;
	text-align: center;
	margin-top: 30px;
}
.arrow-down {
	display: block;
	background: url(../images/arrow-down.png) no-repeat;
	width: 57px;
	height: 57px;
	margin: 0 auto;
	margin-top: 258px;
}

.content-box {
	position: relative;
	width: 100%;
	height: 696px;
	background: #3da6c1;
}
.content-item {
	position: absolute;
	bottom: -15px;
}
.content-item li {
	float: left;
	width: 372px;
	height: 445px;
	margin-right: 42px;
}
.content-item li:last-child {
	margin-right: 0px;
}
.content-item li a {
	display: block;
}
.content-item li.international {
	background: url(../images/content01.png) no-repeat;
}
.content-item li.receive {
	background: url(../images/content02.png) no-repeat;
}
.content-item li.exchange {
	background: url(../images/content03.png) no-repeat -2px 0px;
}
.content-text {
	color: #333;
	width: 317px;
	margin: 0 auto;
	height: 135px;
	background: #fff;
	margin-top: 294px;
	text-align: center;
	padding: 0px 20px;
}
.block-text {
	padding: 30px 0px 5px 0px;
	color: #2b3942;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px solid #dbdfe2;
	margin-bottom: 10px;
}
.light-text {
	color: #a1a1a1;
	font-size: 20px;
}
.sidebg {
	width: 100%;
	background: url(../images/contentbgside.jpg) center no-repeat;
	height: 102px;
}

.article-box {
	background: #ffffff;
	height: 992px;
}
.article-box h3 {
	text-align: center;
	font-size: 48px;
	margin-top: 70px;
	margin-bottom: 25px;
}
.article-box p {
	font-size: 24px;
	color: #a7a7a7;
	margin-bottom: 35px;
}
.divider {
	width: 385px;
	margin: 20px auto 100px auto;
	height: 2px;
	background: #c7c7c7;
}
.divider.white {
	background: #ffffff;
	width: 320px;
}
.divider.green {
	background: #54b947;
	width: 246px;
}
.article-footer {
	background: url(../images/contentbg01.jpg) center no-repeat;
	height: 367px;
	margin-top: 121px;
}
.download-btn {
	display: block;
	background: url(../images/downloadbtnbg.png);
	width: 494px;
	height: 103px;
	color: #fff;
	margin: 20px auto 0px auto;
	font-size: 40px;
}
.darkone {
	background: url(../images/contentbg02.jpg) center no-repeat;
}
.darkone h3 {
	margin-top: 145px;
}
.darkone p {
	color: #fff;
	width: 704px;
	margin-bottom: 40px;
}
.issure-btn {
	margin-top: 140px;
}
.for-phone-box {
	background: #305167;
	text-align: center;
	padding: 50px 0px 35px 0px;
}
.for-phone-box h3 {
	margin-bottom: 30px;
}
.share-btns {
	width: 1040px;
	margin: 50px auto 0px auto;
}
.share-btns ul li {
	float: left;
	width: 184px;
	height: 49px;
	line-height: 60px;
	color: #fff;
	font-size: 36px;
	padding-left: 24px;
	cursor: default;
}
.android-btn {
	background: url(../images/sharebtn01.png) no-repeat;
}
.windows-btn {
	background: url(../images/sharebtn02.png) no-repeat;
}
.ios-btn {
	background: url(../images/sharebtn03.png) no-repeat;
}
.linux-btn {
	background: url(../images/sharebtn04.png) no-repeat;
}
.pc-btn {
	background: url(../images/sharebtn05.png) no-repeat;
}


.help-box {
	background: url(../images/contactbg.jpg) center no-repeat;
	height: 612px;
	background-color: #2f3f49;
}
.in-help {
	float: left; 
	width: 247px;
	margin-top: 80px;
}
.in-help img {
	width: 100%;
}
.help-box ul {
	float: left;
	margin-top: 70px;
	line-height: 35px;
}
.help-box ul li {
	float: left;
	margin-left: 60px;
}
.help-box p {
	font-size: 14px;
	color: #fff;
}
.help-box a {
	display: block;
	font-size: 14px;
	color: #c9c9c9;
	text-decoration: underline;
}
