body {
	background: #fef0f5;
}
.active {
	background: #40c2f6 !important;
	color: #fff !important;
}
.error-tip {
	color: #fb403b;
}
.remove {
	cursor: pointer;
}
.mgt15 {
	margin-top: 15px;
}
.login-box {
	border: 1px solid #ddd;
	background: #fff;
	padding: 10px 20px;
	margin-top: 50px;
}
.form-group {
	margin-top: 30px;
}